{% block content %}
<h2 id="profiler" class="mt-5">Modifier votre profil</h2>

{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
{{ form_widget(form) }}
{{ form_end(form) }}

{% endblock %}