{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container">
        <h2>Informations du voyage</h2>
    
        {{ form_start(form) }}
    
        {{ form_end(form) }}

    </div>
{% endblock %}